<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-2 offset-md-5 mt-3 mb-3">
            <img src="assets/images/burger_logo.png" class="mx-auto d-block" alt="Eat-a-burger logo" width="100%">
        </div>
        <div class="col-xs-4 col-md-4 offset-md-4 mb-3">
            <img src="assets/images/eat-da-burger.png" class="mx-auto d-block" alt="Eat-a-burger title" width="100%">
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter the name of a burger you want to eat" aria-label="Enter the name of a burger you want to eat" aria-describedby="button-addon2" id="burger_input">
        <div class="input-group-append">
            <button class="btn btn-danger" type="button" id="submit_burger">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Burgers to Eat</h5>
                    <p class="card-text font-weight-light">All the burgers you submit at the top are added here!</p>
                    <ul class="list-group" id="burgersToEat">
                        {{#each burger}}
                            {{#unless this.dataValues.devoured}}
                                <li class="list-group-item" id="{{this.dataValues.id}}">{{this.dataValues.name}}<button class="btn btn-outline-danger btn-sm float-right devourBurger" index="{{this.dataValues.id}}">Eat me!</button></li>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <h5 class="card-title">Devoured Burgers</h5>
                    <p class="card-text font-weight-light">Here go all the burgers you have eaten.</p>
                    <ul class="list-group text-muted">
                        {{#each burger}}
                            {{#if this.dataValues.devoured}}
                                <li class="list-group-item">{{this.dataValues.name}}</li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

